<!-- CARGA -->
<div *ngIf="loading" style="margin: auto;width: 500px ;padding: 40px;text-align:center;">
  <i class="pi pi-spin pi-spinner" style="font-size: 7rem;margin:0px auto;"></i>
</div>
<!--  -->

<div style="margin:30px" styleClass="p-fluid">

  <div *ngIf="forgotPassword" class="card" style="margin: auto;width: 500px ;padding: 40px;">

    <div class="field">

      <h2 class="text-center"><b>OLVIDÉ MI CONTRASEÑA</b> </h2>

      <label for="" style="margin-top: 10px; font-size: 15px; text-align: center;">Introduce tu dirección de correo
        electrónico de
        recuperación</label>
    </div>

    <!-- <div class="field">
      <label for="name">Email</label><br>
      <input type="text" pInputText id="name" style="width: 100%;" [(ngModel)]="datos.email" required />
       <small class="p-error" *ngIf="submitted && !reset.email">Email is required.</small> 
    </div> -->

    <span class="p-float-label" style="margin-top:25px; margin-bottom: 25px;">
      <input id="float-input" type="text" style="width: 100%;" pInputText [(ngModel)]="datos.email">
      <label for="float-input">Email</label>
    </span>

    <p>| CAPTCHA |</p>

    <div class="flex justify-content-center">
      <button (click)="pedirReseteo()" pButton style="width: 100%;"
        label="Enviar email de restablecimiento de contraseña"></button>
    </div>





  </div>

  <div *ngIf="emailSend" class="card" style="margin: auto;width: 500px ;padding: 40px;text-align:center;">


    <div class="field">
      <h2 class="text-center"><b>RESTABLECER SU CONTRASEÑA</b> </h2>
    </div>
    <p-messages severity="success">
      <ng-template pTemplate>
        <i class="pi pi-check" style="font-size: 2rem; margin-right: 15px;"></i>
        <div class="ml-2" style="font-size: 16px;">Revise su correo electrónico para obtener un enlace y restablecer
          su contraseña. Si no
          aparece en unos minutos, revise su carpeta de correo no deseado.</div>
      </ng-template>
    </p-messages>

    <button routerLink="/auth/login" pButton label="Volver al Login" style="width: 100%;"></button>

  </div>

  <div *ngIf="emailFail" class="card" style="margin: auto;width: 500px ;padding: 40px;text-align:center;">


    <div class="field">
      <h2 class="text-center"><b>RESTABLECER SU CONTRASEÑA</b> </h2>
    </div>
    <p-messages severity="error">
      <ng-template pTemplate>
        <i class="pi pi-times" style="font-size: 2rem; margin-right: 15px;"></i>
        <div class="ml-2" style="font-size: 16px;">A ocurrido un error!.</div>
      </ng-template>
    </p-messages>

    <button routerLink="/auth/login" pButton label="Volver al Login" style="width: 100%;"></button>

  </div>

  <div *ngIf="emailNotExist" class="card" style="margin: auto;width: 500px ;padding: 40px;text-align:center;">


    <div class="field">
      <h2 class="text-center"><b>RESTABLECER SU CONTRASEÑA</b> </h2>
    </div>
    <p-messages severity="warn">
      <ng-template pTemplate>
        <i class="pi pi-times" style="font-size: 2rem; margin-right: 15px;"></i>
        <div class="ml-2" style="font-size: 16px;">Esa dirección no es válida, no es un correo electrónico principal
          verificado o no está asociada con una cuenta de usuario personal.</div>
      </ng-template>
    </p-messages>

    <button routerLink="/auth/login" pButton label="Volver al Login" style="width: 100%;"></button>

  </div>
</div>
